@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-folio-blue: #2ebbb6;
  --color-folio-cyan: #12e6e0;
  --color-folio-teal: #3b6665;
  --color-folio-slate: #2c3c3b;
}

:root {
  --background: #191b1b;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191b1b;
    --foreground: #ededed;
  }
}

.button {
  background-color: var(--color-folio-blue);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5em;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: var(--color-folio-cyan);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.thick-gradient-underline {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  color: #2d2f31;
  position: relative;
  padding-bottom: 18px;
  margin-top: 40px;
}

.thick-gradient-underline::after {
  content: "";
  width: 220px;
  border-radius: 8px;

  background: linear-gradient(90deg, #ff6a00, #ee0979);

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
